body{font:12px "微软雅黑";}
.left{float:left;}
.right{float:right;}
.red{color:#c80a28!important;}
.p0{padding:0!important;}
.m0{margin:0!important;}
.bb0{border-bottom:0!important;}
.br0{border-right:0!important;}
.mb0{margin-bottom:0;}
em,i{font-style:normal;}
strong{font-weight:normal;}